/* reset css */
	* {
	margin:0;
	padding:0;
	}

	body {
	line-height:1;
	font-size:100%;
	font-family:'Open Sans', sans-serif;
	color:#00ff00;
	}
	
	#container {
	width:980px;
	margin:0 auto;
	box-shadow:0 0 1em #000000;
	}

/* header */
	header {
	padding:20px;
	}
	
	header h1 {
	margin:20px 10px;
	color:#00ff00;
	}

	/* navigation */
	nav {
		display:block;
		background-color:#1f5faa;
	}

	nav ul {
	list-style-type:none;
	}
	
	nav ul li {
	float:left;
	}
	
	nav li a {
	padding:15px 30px;
	display:block;
	color:#fff;
	font-size:14px;
	text-decoration:none;
	font-weight:bold;
	}
	
	nav .active a,
	nav li:hover a {
	background-color:#1f5faa;
	}
	
	nav:after, nav:before {
		content:'';
		display:table;
	}

	nav:after {
	clear:both;
	}

	.slide-panel {
	background-color:#428bca;
	padding:50px 20px;
	margin-bottom:20px;
	}
	
	.slide-panel h1 {
	margin-bottom:20px;
	font-size:35px;
	}
	
	.slide-panel p {
	margin-bottom:20px;
	font-size:18px;
	line-height:25px;
	}

/* main content */
	#main {
	float:left;
	width:640px;
	padding:20px;
	}
	
/* box */
	.box {
	 display:block;
	float:left;
	width:33.333333%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	padding:0 10px;
	text-align:center;
	}
	
	.box h3 {
	margin:15px 0;
	}
	
	.box p {
	line-height:20px;
	font-size:14px;
	margin-bottom:15px;
	}
	
	.box img {
	border:;
	vertical-align:middle;
	}
	
	.image-circle {
	border-radius:50%;
	}
	
	.row {
	margin:0 -10px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	}
	
	.row:after, .row:before,
	.entry:after, .entry:before {
	content:'';
	display:table;
	}
	
	.row:after,
	.entry:after {
	clear:both;
	}
	
	
	.divider {
	border:0;
	border-top:1px solid #eeeeee;
	margin:40px 0;
	}
	
/* entry */
	.entry {
	margin:15px 0;
	}
	
	.entry h2 {
	margin-bottom:20px;
	}
	.entry p {
	line-height:25px;
	}
	
	.entry img {
	float:left;
	border-radius:5px;
	margin-right:15px;
	}
	
	.entry .right-img {
	float:right;
	}
/* sidebar area */
	#sidebar {
		float:left;
		width:260px;
		padding:20px;
	 }
	
	.widget-box {
	border:1px solid #eee;
	margin-bottom:20px;
	}
	
	.widget-box .title {
	padding:10px 16px;
	background-color:#428bca;
	color:#fff;
	}
	
	.widget-box ul {
	list-style-type:none;
	}
	
	.widget-box li {
	border-bottom:1px solid #eee;
	}
	
	.widget-box li a {
	padding:10px 16px;
	color:#333;
	display:block;
	text-decoration:none;
	}
	
	.widget-box li:hover a {
	background-color:#eee;
	}
	
	.widget-box p {
	padding:15px;
	line-height:25px;
	}

 /* footer */
	footer {
	clear:both;
	background-color:#1d1d1d;
	padding:20px;
	color:#eee;
	}
		/*
	* Praktikum CSS
	* External Stylesheet
	*/  
	/* import css google font,
	* metode lain penggunaan external css
	*/
	@import url(http://fonts.googleapis.com/css?
family=Diplomata+SC);
 
	body {
	font-family: 'Open Sans', sans-serif;
	background-color:#6bacf8;
	background-image: url("");
	color:#fff;
}
 
	h1 {
	color:#11720d;
	text-align:center;
	}
 
	body > h1 {
	font-family:'Diplomata SC', arial;
	}
 
	hr {    
	border:2px solid #f25656;
	}
 
	/* ID Selector */
	#intro {
	background:#11720d;
	border:2px solid #d4d1d1;
	}
 
	#intro h1 {
	text-align:left;
	color:#fff;
	}
 
	table thead {
	background:#171717;
	}
 
	form label {
	width:120px;
	display:inline-block;
	}
 
	form input[type="text"],
	form textarea {
	background:#a2fdc5;
	border:1px solid #11720d;
	border-radius:5px;
	font-size:14px;
}
 
	form input[type="submit"] {
	background:#d41717;
	color:#fff;
	font-weight:bold;
	padding:5px;
	border-radius:5px;
	border:2px solid #f55454;
	cursor:pointer;
	}
 
	form input[type="submit"]:hover {
	background:#f55454;
	border-color:#d41717;71.	}
